*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* object-fit:cover; */

#choice-1-container,
#choice-2-container,
#choice-3-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    line-height: 2;
}
#choice-1-header,
#choice-2-header,
#choice-3-header{
    font-size:3rem;
    font-weight:500;
    /* text-align: center; */
}
#choice-1-section,
#choice-2-section,
#choice-3-section{
    display:flex;
    flex-direction: row;
    font-size:2rem;
    font-weight:500;
}
button{
    margin:1rem;
    padding:1rem;
}
#result{
    display:flex;
    justify-content: center;
    margin-top: 5%;
}

/*Homepage food image*/
#main-image{
    width: 100%;
    height: auto;
    padding-top: 50px;
}

/*Webpage background*/
body {
    background-color: rgb(0,0,0);
    background-image: url(./assets/Images/chalkboard_vertical.jpeg);
    background-size: 100%;

}

/*Text attributes*/
.text {
    font-family: 'Dancing Script', cursive;
    color: white;
    text-align:center;
    width: 100%;
   
}

/*Font size for the header text only*/
#header {
    font-size: 75px;
}


