* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white;
  text-align: center;
}

#header-image {
  height: 30rem;
  width: 100%;
}

.page-1 {
  display: flex;
  flex-direction:column;
  align-items:center
}

.continuous-1 {
  background: 
      linear-gradient(currentColor 0 0) 
      var(--d, 201%) 100% /200% 3px 
      no-repeat;
  transition:0.5s;
}

.continuous-1:hover {
  --d: -101%;
}

/* Centers Page 2 menu */
.page-2 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}

/* Hover effect for page 2 btns */
.page2btn:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

/*Favorite btn*/
#favorite-btn {
  width: 20%;
}

/* Hover effect for favorite btn */
#favorite-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
 
}

/*Home button*/
.home-btn{
  margin: 25px;
  width: 20%;
}

/* Hover effect for home button */
.home-btn:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

/*Text formmating for cuisine header*/
h2 {
  font-family: "Dancing Script", cursive;
  font-size: 40px; 
}

/* Highlighting effect for food headers */
.headereffect:hover{
  background-color: rgb(0, 0, 0, 0.5);
  width: 50%;
  margin: 0 25%;
}

/*Image styling*/
img {
  border-radius: 15px;
  margin-bottom: 3rem;
}

/*recipe*/
.recipe {
  color: white;
  text-align:center;
  padding: 25px 100px;
  font-size: 24px;
}

/*Button look property*/
button {
  margin: 1rem;
  padding: 1rem;
  font-size: 50px;
  border-radius: 8px;
  border: 10px;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  background-size: 100%;
  width: 65%;
  font-family: "Dancing Script", cursive;
}

/*Hover effect for the homepage buttons*/
button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  
}

#result {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

/*Main Homepage food image*/
#main-image {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

/*Webpage chalkboard background*/
body {
  background-color: rgb(0, 0, 0);
  background-image: url(./assets/Images/chalkboard_vertical.jpeg);
  background-size: 100%;
}

/*Text attributes*/
.text {
  font-family: "Dancing Script", cursive;
  color: white;
  text-align: center;
  width: 100%;
}

/*Font size for the header text only*/
#header {
  font-size: 75px;
}


/*Footer font style*/
a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
}

/* Footer position */
footer {
  margin: auto;
  padding: 85px;
  height: 30px;
  width: 100%;
  text-align: center
}

/* Heading text format*/ 
h1 {
  margin-bottom: 50px;
}

/* Button text styling */
.btntext {
  font-family: "Dancing Script", cursive;
  text-align: center;
  width: 35%;
  background-size: cover;
  color: white;

}


